 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';



.header{
  border:solid;
  border-width:1px;
  height:80px

}


.leftTitle{
  margin-left:230px;
  display:inline;
  color:rgb(209, 89, 40);
  font-size:30px;
}


.browse{
  margin-right:70px;
}

.midSec{
  @include outer-container;
  border:solid;
  border-color:red;
  width:100%;
  height:1000px;
  min-width:1000px;
  background-color:rgb(245, 245, 241);
  .sideBar{
    @include span-columns(3);
    @include omega();
    border:solid;
    height:1120px;
  }
  .rightSide{
    @include span-columns(9);
    @include omega();
    float:right;
    height:1000px;
    border:solid;
    border-width:1px;
    border-color:green;

    .box{
      float:left;
      width:222px;
      height:219px;
      }
    }

}




.truncate {
  list-style:none;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
